<%- contentFor('title') %> EcoFoodie
<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="itemNew.css">

<head>
<style>
img {
  width: 100%;
}
</style>
</head>

<img src="/images/greenArrow.png" alt="green arrow" style="width:128px;height:128px;">
<img src="/images/EcoFoodieLOGO.png" alt="Eco Foodie Logo" style="width:128px;height:128px;">


<form method="post" action="/item">
<div id="other" class="form-group" style="display: none;">
    <input type="text" class="form-control" name="other" value="" placeholder="Please describe...">

  </div>

  <div class="form-group">
    <label>Restaurant</label>
    <textarea class="form-control" rows="2" name="restaurantId" ></textarea>

  </div>

  <div class="form-group">
    <label>Selected Photo</label>
    <input type="file" class="form-control" name="photo" />
    <input type="hidden" name="pictureUrl" value="">
  </div>


  <label>What is this photo about?</label>
  <br>
  <label for="category">Choose a category:</label>
  <select id="category">
  <option value="Plastic">Plastic</option>
  <option value="LandFill">LandFill</option>
  <option value="Recycle">Recycle</option>
  </select>
  <br>
  <br>

    <label>Bin</label>
    <br>

    <div class="radio-toolbar">
        <input type="radio" id="radioApple" name="radioFruit" value="apple" checked>
        <label for="radioApple">Recycling   <div class="left-img1"></div></label>
        <br>
        <br>
    </div>


    <div class="radio-toolbar2">
        <input type="radio" id="radioBanana" name="radioFruit" value="banana">
        <label for="radioBanana">Compost <div class="left-img2"></div></label>
        <br>
        <br>


    <div class="radio-toolbar3">

        <input type="radio" id="radioOrange" name="radioFruit" value="orange">
        <label for="radioOrange">  Trash <div class="left-img3"> </div></label>
        <br>
        <br>



    <p>&nbsp;</p>




  <br>








  <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit">Submit</button>
  </div>
</form>
</div>
</div>
</div>
</div>
</div>
