<%- contentFor('title') %>TODOs
<%- contentFor('body') %>
<h1>EcoFoodie</h1>



                <p><a href="/restaurants/new">New Restaurants</a></p>


        <% for(let record of records) {%>
                <li><a href="/restaurants/<%= record.id %>"><%= record.name %> </a><br></li>  
        <% } %>


